.register_from {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 44px 44px 31px #828282,
        -44px -44px 31px #ffffff;
    width: 600px;
    height: 700px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;

}

.text_header {
    color: #10ed00;
}

.register_from input:not([type=checkbox]) {
    display: block;
    width: 71%;
    height: 51px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border: 2px solid #10ed00;
    border-radius: 20px;
    margin-left: 50px;
}

.btn_register {

    /* background-color: #0e77f0;
    color: #ffffff; */
    margin-left: 500px;
}